body{
    overflow-x: hidden; /*Nao mostrar a barra de rolagem!*/
    overflow-y: hidden;
    background-color: white;
    /* background-image: url("fundo1.gif"); */
}
.jog{/* div Personagem */
    width: 104px;
    height: 120px;
    overflow: hidden;
    border-color: black;
    border: 2px solid #000;
    /* background-color: black; */
    /* background-image: url("nave1.gif"); */
    /* background-size: 50px; */
    position: absolute; /*Para conseguir flutuar na tela!*/
}
.enemy{/* div Inimigo*/
    width: 104px;
    height: 120px;
    overflow: hidden;
    border-color: black;
    border: 2px solid #000;
    /* background-color: black; */
    /* background-image: url("nave1.gif"); */
    /* background-size: 50px; */
    position: absolute; /*Para conseguir flutuar na tela!*/
}
.inimigo{/* Inimigo IMG*/
    width: 470px;
    height: 470px;
    /* background-color: black; */
    /* background-image: url("nave1.gif"); */
    /* background-size: 50px; */
    position: absolute; /*Para conseguir flutuar na tela!*/
    left: -6px;
}
.jogador{/* Personagem*/
    width: 348px;
    height: 61px;
    /* background-color: black; */
    /* background-image: url("nave1.gif"); */
    /* background-size: 50px; */
    position: absolute; /*Para conseguir flutuar na tela!*/
}
.disparoJogador{/*tiro do jogador*/
    width: 80px;
    height: 40px;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-image: url("flecha.png");
    background-size: 80px;
    position: absolute; /*Para conseguir flutuar na tela!*/
}
.dragao{
    width: 204.2px;/*metade*/
    height: 75.6px;
    /* background-color: black; */
    /* background-image: url("nave1.gif"); */
    /* background-size: 50px; */
    position: absolute; /*Para conseguir flutuar na tela!*/
}