body{
    overflow-x: hidden; /*Nao mostrar a barra de rolagem!*/
    overflow-y: hidden; 
    background-color: white;
    margin: 0;
    padding: 0;
    /* background-image: url("fundo1.gif"); */
}
.jog{/* div Personagem */
    width: 104px;
    height: 120px;
    overflow: hidden;
    border-color: black;
    border: 2px solid #000;
    /* background-color: black; */
    /* background-image: url("nave1.gif"); */
    /* background-size: 50px; */
    position: absolute; /*Para conseguir flutuar na tela!*/
}
.enemy{/* div Inimigo*/
    width: 104px;
    height: 110px;
    overflow: hidden;
    border-color: black;
    border: 2px solid #000;
    /* background-color: black; */
    /* background-image: url("nave1.gif"); */
    /* background-size: 50px; */
    position: absolute; /*Para conseguir flutuar na tela!*/
}
.inimigo{/* Inimigo IMG*/
    width: 470px;
    height: 470px;
    /* background-color: black; */
    /* background-image: url("nave1.gif"); */
    /* background-size: 50px; */
    position: absolute; /*Para conseguir flutuar na tela!*/
    left: -6px;
    top: -18px;
}
.jogador{/* Personagem*/
    width: 348px;
    height: 61px;
    /* background-color: black; */
    /* background-image: url("nave1.gif"); */
    /* background-size: 50px; */
    position: absolute; /*Para conseguir flutuar na tela!*/
}
.disparoJogador{/*tiro do jogador*/
    width: 80px;
    height: 10px;
    border: 1px solid black;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-image: url("flecha.png");
    background-size: 80px;
    position: absolute; /*Para conseguir flutuar na tela!*/
}
.dragao{
    width: 204.2px;/*metade*/
    height: 75.6px;
    /* background-color: black; */
    /* background-image: url("nave1.gif"); */
    /* background-size: 50px; */
    position: absolute; /*Para conseguir flutuar na tela!*/
}
#table {
    border: 1px solid black;
    border-collapse: collapse;
    height: 400px;
    width: 300px;
    overflow: hidden;
    margin:0px;
    padding: -1px;
}
#cabecario {
    height: 400px;
    width: 300px;
    overflow: hidden;
    background-color: white;
    /* margin:0px;
    padding: -1px; */
}